body{
    background: url(file:///C:/Users/BBD/AppData/Local/Packages/5319275A.WhatsAppDesktop_cv1g1gvanyjgm/TempState/ECD62DE20EA67E1C2D933D311B08178A/WhatsApp%20Image%202023-07-06%20%C3%A0%2019.23.42.jpg)no-repeat;
    background-size: 1200px;
}
p.bdt{
    color: white;
    font-size: 20px;
    padding-bottom: 3px;
}